<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/616ed73eb6.js" crossorigin="anonymous"></script>
    <title>Naruto-RPG</title>

</head>
<body>

    <div class="index-container">
        <div class="index-box">
            <h1>Welcome to Naruto RPG !!!</h1>
            <button><a href="login.html">Start</a></button>
        </div>
        <a href="/battle"><button class="btn">Battle (Not Implemented Yet)</button></a></p>
        <a href="/training"><button class="btn">Training (Not Implemented Yet)</button></a></p>
        <a href="/resources"><button class="btn">Resources</button></a></p>
        <a href="/logout"><button class="btn">Log Out</button></a></p>
    </div>
    <script src="../static/scripts.js"></script>
</body>