<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/616ed73eb6.js" crossorigin="anonymous"></script>
    <title>StarGazer</title>
</head>
<body>
    <div class="index-container">
        <div class="index-box">
            <h1>Welcome to StarGazer !!!</h1>
            <p>“I am like a falling star who has finally found her place next to another in a lovely constellation,</p>
            <p>where we will sparkle in the heavens forever.”</p>
            <p>― Amy Tan</p>
            <button><a href="login.html">Start</a></button>
        </div>
 </div>
</body>