<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Naruto RPG</title>
    <link rel="icon" type="image/x-icon" href="../static/photos/resources/favicon.ico">

    <link href="/static/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/616ed73eb6.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <img src="/static/resources/BasicHandSealsGuide.webp">
    <p>Further Help:<a href='https://www.youtube.com/watch?v=0UakYLTiplc&t=312s'>Hand Seals Lesson</a></p>
    <a href="/home"><button class="btn">Home</button></a></p>

    <script src="../static/scripts.js"></script>
</body>